---
import Layout from '../layouts/Layout.astro';
import json from '../assets/Data/Data.json';
import Link from '../components/Link.astro';
import avatar from '../assets/Images/avatar.webp';
---

<Layout title='Agustin Morales'>
	<header class='flex flex-col items-center'>
		<img
			width='96'
			class='mb-4 rounded-full'
			src={avatar}
			alt=''
		/>
		<h1 class='font-bold'>Agustin Morales</h1>
		<h2 class='font'>Frontend Developer</h2>
	</header>
	<main class='mt-8 flex w-full flex-col justify-center'>
		<ul class='flex w-full flex-col items-center gap-4'>
			{
				json.map((data) => (
					<Link
						title={data.title}
						href={data.url}
						icon={data.icon}
						share={data.share}
					/>
				))
			}
		</ul>
	</main>
	<footer class='fixed bottom-0 left-0 w-full bg-red-300 text-center'>
		Made with <span>💖</span>
		<a href='https://github.com/EA-Morales'>Agustin Morales</a>
	</footer>
</Layout>
